name = "we-webonday-backend"
main = "src/index.ts"
compatibility_date = "2025-12-08"

# ============================
# VARIABILI DI AMBIENTE
# ============================
[vars]
FRONTEND_URL = "https://www.webonday.it"
GOOGLE_CLIENT_ID = "779755703612-3b1vcbkbvekjq80k4q1508h4efev7jac.apps.googleusercontent.com"
GOOGLE_REDIRECT_URI = "https://api.webonday.it/api/user/google/callback"

R2_PUBLIC_BASE_URL = "https://menus.webonday.it"

# PayPal (SANDBOX o LIVE, a seconda di cosa usi)
PAYPAL_API_BASE = "https://api-m.paypal.com" 
PAYPAL_CLIENT_ID ="AYEUMQQoMpjiulN7LR55YoYmMCFKedP2sv2UHp0fbyQ5NZiF5Q9__k3VFmrkgxEzSOFmCdgz-75X_cpO"
PAYPAL_SECRET="EGaXsBB1OWf2t2L-cWZ4ho5apyU3cNpIE4qBkPxEnuG27udWyl1jiaJvjNs_gacTehs4hqfAdS55qYiN"
# ============================
# KV NAMESPACE BINDINGS
# ============================

# Policy (versioni policy e accettazioni)
[[kv_namespaces]]
binding = "POLICY_KV"
id = "1b31979b27c047afb5a2663433cefab1"

# Cookie consent tracking
[[kv_namespaces]]
binding = "COOKIES_KV"
id = "dd5b41e5fdfa4b84bc341353046a2fba"

# Catalogo prodotti
[[kv_namespaces]]
binding = "PRODUCTS_KV"
id = "da0e82640e0a46ebbfd54cdb5df6c7cd"

# Carrelli anonimi / user-cart
[[kv_namespaces]]
binding = "CART_KV"
id = "71b3b959e7a7444da82cfd5c31d79d21"

# Archivio utenti WebOnDay
[[kv_namespaces]]
binding = "ON_USERS_KV"
id = "9c574ad4e44b49ad9944dc424fb56346"

# Log attività utenti
[[kv_namespaces]]
binding = "ON_ACTIVITY_USER_KV"
id = "ebfebc35a65748ab9f24534643029618"

# Ordini WebOnDay
[[kv_namespaces]]
binding = "ORDER_KV"
id = "61b8542d46fe4c809b3dfe5ebb9d852a"

# Business registrati
[[kv_namespaces]]
binding = "BUSINESS_KV"
id = "b6d212990044437f9720e048babab427"

# Referral token → businessId
[[kv_namespaces]]
binding = "REFERRAL_KV"
id = "47f5579302014b59a8167fdd2e8081de"

# ============================
# R2 BUCKET (MENU PDF)
# ============================
[[r2_buckets]]
binding = "BUSINESS_MENU_BUCKET"
bucket_name = "business-menus"