/* BASE */
@import "../base/reset.css";
@import "../base/typography.css";

/* TOKENS */
@import "../tokens/tokens.css";

/* PRIMITIVES */
@import "../primitives/buttons.css";

@import "../primitives/badge.css";

@import "../primitives/cards.css";


/* LAYOUT (UNICA SORGENTE) */

@import "../layout/navbar.css";
@import "../layout/footer.css";
@import "../layout/global.css";
@import "../layout/grid.css";
/* COMPONENTS */
@import "../components/cards/productCard.css";
@import "../components/cards/optionSelector.css";
@import "../components/cart.css";
@import "../components/cartSticker.css";

@import "../components/hero/HeroBase.css";
@import "../components/table/pricing-table.css";
@import "../components/whatsapp.css";
@import "./business_page/business_page.css";
/* PAGES */
@import "../pages/home.css";
@import "../pages/login.css";
@import "../pages/checkout.css";
@import "../pages/user.css";
@import "../pages/solution.css";
@import "../pages/founder.css";
@import "../pages/configuration.css";


/* ADMIN */
@import "../admin/MainLayout/adminLayout.css";
@import "../admin/orders/orders.css";
@import "../admin/products/products.css";
@import "../admin/products/editProducts.css";
@import "../admin/products/select.css";
@import "../admin/products/table.css";