@import "./base.css";
@import "./legacy-style.css";

@import "./layout.css";

/* global layout blocks */
@import "./navbar.css";
@import "./footer.css";

/* page sections */
@import "./hero.css";

/* components */
@import "./productCard.css";
@import "./cart.css";
@import "./whatsapp.css";

/* pages */
@import "./home.css";
@import "./login.css";
@import "./checkout.css";
