/* layout.css */

.app-layout{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
  }
  
  .site-content{
    flex:1;
    width: 100%;
  }
  
  /* evita contenuti attaccati a navbar/footer */
  .site-content > *{
    width:100%;
  }
  