/* =====================================================
   ORBIT 3D HERO
===================================================== */

.carousel-orbit {
    position: relative;
    width: 100%;
    height: 680px;
  
    perspective: 2000px;
    perspective-origin: 50% 45%;
  
    overflow: visible;
  }
  
  /* ORBIT ITEM */
  .carousel-orbit > * {
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 600px;
  
    transform-style: preserve-3d;
    transition:
      transform 600ms cubic-bezier(.2,.8,.2,1),
      opacity 500ms ease,
      filter 500ms ease;
  
    cursor: pointer;
  }
  
  /* IMAGE */
  .carousel-orbit img {
    width: 100%;
    height: auto;
    border-radius: 24px;
  
    box-shadow:
      0 60px 120px rgba(0,0,0,0.45);
  
    transition: inherit;
  }
  