/* =====================================================
   LAYOUT — GRID
===================================================== */

.wd-grid {
    display: grid;
    gap: 24px;
  }
  
  /* Desktop grande */
  @media (min-width: 1200px) {
    .wd-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  /* Desktop / laptop */
  @media (min-width: 1024px) and (max-width: 1199px) {
    .wd-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Tablet */
  @media (min-width: 640px) and (max-width: 1023px) {
    .wd-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Mobile */
  @media (max-width: 639px) {
    .wd-grid {
      grid-template-columns: 1fr;
    }
  }
  